{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
Ma reservation :
<br/>
Chambre numero
{{ reservation.chambre.id }}
<br/>

{{ form_start(form) }}
{{ form_row(form.dateEntree) }}
{{ form_row(form.dateSortie) }}
{{ form_row(form.submit) }}
<br/>
Prix:
{{reservation.prix}}
<br/>
<a href={{path('app_profile_reservations')}}>Retourner en arrière</a>
<br/ {% endblock %}
