{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('/css/profile/reservation.css') }}">

	<div class="menu">
    <h2>Mes réservations :</h2>

    {% for i, reservation in reservations %}
        <div class="reservation-item">
            Chambre numéro: {{ reservation.chambre.id }}<br>
            Entrée: {{ dateEntree[i] }}<br>
            Sortie: {{ dateSortie[i] }}<br>
            Prix: {{ reservation.prix }}<br>
		</div>


            <a class="btn" href="{{ path('app_profile_reservations_edit', {'id': reservation.id}) }}">Modifier ma réservation</a>
        
    {% endfor %}
</div>
{% endblock %}
