{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	Mes réservations :

	{% for i, reservation in reservations %}
		<br/>
		Chambre numéro
		{{ reservation.chambre.id }}
		<br/>
		Entrée:
		{{ dateEntree[i] }}
		<br/>
		Sortie:
		{{ dateSortie[i] }}
		<br/>
		Prix:
		{{ reservation.prix }}
		<br/>
		<a href={{ path('app_profile_reservations_edit', {'id': reservation.id} ) }}>Modifier ma réservation</a>
		<br/>
				<a href="{{ path('app_profile') }}">Retour</a>
	{% endfor %}
{% endblock %}
