{% extends 'base.html.twig' %}

{% block title %}Hello CAController!{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_row(form.dateEntree) }}
{{ form_row(form.dateSortie) }}
{{ form_row(form.submit) }}
<div class="canva">
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: ['Suite Royale', 'Suite Princière', 'Premium'],
      datasets: [{
        label: '# of Votes',
        data: [{{CAT1}}, {{CAT2}}, {{CAT3}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
Total: {{total}}
	<style>
		.canva {
			height: 20%;
			width: 20%;
            background-color: cyan;
		}
	</style>
{% endblock %}
