{% extends 'base.html.twig' %}

{% block title %}Hello ConfirmationController!
{% endblock %}

{% block body %}

	<p>Confirmation
		{{user.email}}
		d'avoir payer la chambre numero
		{{chambre}}
		au prix de
		{{price}}€ pour un sejour du
		{{dateEntree}}
		au
		{{dateSortie}}</p>
	<a href="{{path('app_home')}}">Retournez a l'accueil<a/>
	{% endblock %}
