{% extends 'base.html.twig' %}

{% block title %}Chambre index{% endblock %}

{% block body %}
    <h1>Chambre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Superficie</th>
                <th>ChaineALaCarte</th>
                <th>Tarif</th>
                <th>VueSurMer</th>
                <th>Climatisation</th>
                <th>TelevisionAEcranPlat</th>
                <th>Telephone</th>
                <th>ChaineSatellite</th>
                <th>ChaineDuCable</th>
                <th>CoffreFort</th>
                <th>MaterielDeRepassage</th>
                <th>WifiGratuit</th>
                <th>Type:</th>
            </tr>
        </thead>
        <tbody>
        {% for chambre in chambres %}
            <tr>
                <td>{{ chambre.id }}</td>
                <td>{{ chambre.Superficie }}</td>
                <td>{{ chambre.ChaineALaCarte }}</td>
                <td>{{ chambre.Tarif }}</td>
                <td>{{ chambre.VueSurMer }}</td>
                <td>{{ chambre.Climatisation }}</td>
                <td>{{ chambre.TelevisionEcranPlat }}</td>
                <td>{{ chambre.Telephone }}</td>
                <td>{{ chambre.ChaineSatellite }}</td>
                <td>{{ chambre.ChaineDuCable }}</td>
                <td>{{ chambre.CoffreFort }}</td>
                <td>{{ chambre.MaterielDeRepassage }}</td>
                <td>{{ chambre.WifiGratuit }}</td>
                <td>{{ chambre.Type }}</td>
                <td>
                    <a href="{{ path('app_admin_chambre_show', {'id': chambre.id}) }}">show</a>
                    <a href="{{ path('app_admin_chambre_edit', {'id': chambre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_chambre_new') }}">Create new</a>
{% endblock %}
